In [ ]:
#Question1. Read the csv file 'food_db.csv' and store it in variable 'df'.
print the number of rows and columns in it
show the dataframe

In [4]:
import pandas as pd
df=pd.read_csv(r"C:\Users\adith\Downloads\food_db.csv")
print("The number of rows and columns is:",df.shape)
print("\nShowing Dataframe is:\n",df)

The number of rows and columns is: (10, 5)

Showing Dataframe is:
    food_id            name discount   price     rating
0        1  Butter Chicken      10%  $12.99  Excellent
1        2     Masala Dosa       5%   $7.50       Good
2        3         Biryani      15%  $15.99  Excellent
3        4           Chaat      20%   $3.99    Average
4        5         Samosas      10%   $2.50       Good
5        6   Chole Bhature       5%   $8.99  Excellent
6        7    Paneer Tikka      10%  $10.99  Very Good
7        8     Idli-Sambar      15%   $6.99       Good
8        9      Rogan Josh      10%  $16.99  Excellent
9       10           Lassi       5%   $3.50    Average

In [ ]:
#Question 2. Replace the 5% and 10% discounts to 13% inorder to attract more customers
store the results in a variable 'new_df'
show the dataframe 'new_df

In [25]:
import pandas as pd

df = pd.read_csv(r"C:\Users\adith\Downloads\food_db.csv")
new_df = df.copy()
new_df['discount'] = new_df['discount'].replace(['5%', '10%'], '13%')

print("The DataFrame fir discount is:\n",new_df)

The DataFrame fir discount is:
    food_id            name discount   price     rating
0        1  Butter Chicken      13%  $12.99  Excellent
1        2     Masala Dosa      13%   $7.50       Good
2        3         Biryani      15%  $15.99  Excellent
3        4           Chaat      20%   $3.99    Average
4        5         Samosas      13%   $2.50       Good
5        6   Chole Bhature      13%   $8.99  Excellent
6        7    Paneer Tikka      13%  $10.99  Very Good
7        8     Idli-Sambar      15%   $6.99       Good
8        9      Rogan Josh      13%  $16.99  Excellent
9       10           Lassi      13%   $3.50    Average

In [ ]:
#Question 3.Replace the categorical column 'rating' with corresponding numerical values.
Criteria: ['Excellent': 4, 'very Good': 3, 'Good': 2, 'Average': 1]
store the results in a variable 'new_df'
show the dataframe 'new_df'

In [32]:
import pandas as pd
df = pd.read_csv(r"C:\Users\adith\Downloads\food_db.csv")
old_value=['Excellent','very Good','Good','Average']
new_value=[4,3,2,1]
new_df['rating']=new_df['rating'].replace(old_value,new_value)
print(new_df)

   food_id            name discount   price     rating
0        1  Butter Chicken      10%  $12.99          4
1        2     Masala Dosa       5%   $7.50          2
2        3         Biryani      15%  $15.99          4
3        4           Chaat      20%   $3.99          1
4        5         Samosas      10%   $2.50          2
5        6   Chole Bhature       5%   $8.99          4
6        7    Paneer Tikka      10%  $10.99  Very Good
7        8     Idli-Sambar      15%   $6.99          2
8        9      Rogan Josh      10%  $16.99          4
9       10           Lassi       5%   $3.50          1